body {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 300;
    background-color: #000000;
    color: white;
}

.topBar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 64px;
    border-bottom: 1px #333333 solid;
}

.ph-fill.ph-scales {
    margin: auto;
}

.ph-fill {
    font-size: 32px;
    color: white;
}

.container {
    display: block;
    max-width: 480px;
    padding-top: 64px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.form {
    display: block;
}

.inputWrapper {
    width: 100%;
    display: block;
    margin-bottom: 24px;
}

.inputLabel {
    font-size: 16px;
    line-height: 24px;
    display: block;
    margin-bottom: 8px;
    width: 100%;
}

.inputField {
    width: 100%;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 8px;
    height: 48px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
}

.inputField:hover {
    background-color: #222222;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.inputField:focus {
    background-color: #333333;
    outline: none;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.resetButton {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 4px;
    height: 48px;
    padding-top: auto;
    padding-bottom: auto;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #222222;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.resetButton:active {
    background-color: #333333;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.tabContent {
    display: none;
}

.tabMenu {
    display: flex;
    width: 100%;
    margin-top: 72px;
}

.tab {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: #111111;
    color: white;
    border: none;
    border-radius: 8px;
    margin-bottom: 32px;
    margin-right: 8px;
    height: 48px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    cursor: pointer;
}

.tab:hover {
    background-color: #222222;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.tab:active {
    background-color: #333333;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.tab.active {
    color: #111111;
    background-color: #FFFFFF;
}

.tab.active:hover {
    background-color: #FDFDFD;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

.tab.active:active {
    background-color: #FBFBFB;
    transition: background-color 200ms;
    transition-timing-function: ease-in-out;
}

/* .footerWrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footerLabel {
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    text-transform: uppercase;
    margin: auto;
} */